.navbar-custom{
    background-image: linear-gradient(145deg, rgb(0, 236, 236),rgb(0, 98, 0))!important;
    box-shadow: 4px 2px 8px rgb(145, 145, 145);
}

.navbar-custom .nav-link{
    color: white!important;
}